{%extends 'base.html'%}

{%load static%}
{%block body%}
<div class="container d-flex flex-wrap">
    <h1 class="display-2 text-secondary mx-auto">10 Tips for relaxation</h1><br><br>
    <img src="{%static 'images/img1.webp'%}" class=" mx-auto" alt="..." height="400px">
    <p class=" text-white">

        1. Enjoy a natural high as the release of endorphins associated with meditation allows you to relax and
        de-stress
        from daily challenges.<br><br>

        2. Enjoy the elevated well-being associated with whole-brain functioning like improved decision making and
        enhanced
        ability to concentrate.<br><br>

        3. Build a bridge between the logical, analytical capabilities of your brain’s left hemisphere and the
        imaginative,
        intuitive ones of the right, expanding creativity, flow and productivity.<br><br>

        4. Achieve greater objectivity and perspective that can help you maintain calm in all situations.<br><br>

        5.Tap into deeper states of consciousness where you will enjoy inner stillness, harmony and balance in your
        physical, emotional and mental dimensions.<br><br>

        7. Reduce your unconscious reactions to people and events that trigger an emotional response; reactions that
        trap
        you in past anger or future anxiety and keep you from enjoying the present moment.<br><br>

        8. Expand your emotional clearing process and release energy for more enjoyable pursuits.<br><br>

        9. Enjoy higher levels of wellness as reduced stress levels promote healthier bodies, emotions and
        minds.<br><br>

        10. Increase self-love, acceptance, and happiness

    </p>

</div>



{%endblock%}